.newForm {
  position: relative;
  text-align: center;
  margin: 0px auto;
  margin-top: 20px;
  max-width: 120px;
  height: 120px;
  @media (min-width: 250px) { 
    max-width: inherit;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    margin-top: -70px;
    min-width: 120px;
  }
}

.title {
  @media (min-width: 250px) { 
    font-size: 1.5em;
  }
}


.newEmail {
  position: relative;
  text-align: center;
  margin: 0px auto;
  margin-top: 30px;
  max-width: 120px;
  height: 120px;
  @media (min-width: 250px) { 
    max-width: inherit;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-top: -50px;
    min-width: 120px;
  }
}

.icon {
  font-size: 3.0em;
  position: relative;
  top: 3px;
}

.somethingElse {
  display: inline-block;
  margin-top: 10px;
}

.copy {
  margin-top: 30px;
}

.copied {
  color: #27B779;
  margin-top: 10px;
  margin-bottom: 0;
}

.local {
  margin-bottom: 5px;
}

.domain {
  margin-top: 5px;
  color: #C26458;
}

.small {
  display: block;
  @media (min-width: 480px) {
    display: none;
  }
}