@import "normalize.css";
@import "./grid.css";

.newIdentity {
  @mixin col_1;
}

.identities {
  @mixin container;
}

.existing {
  @mixin row;
}

.card {
  @mixin col_2;
  color: #333;
}

.identity {
  border: 1px solid #eee;
  background-color: #fff;
}

.heading {
  padding: 10px;
  text-align: center;
  background-color: #eee;
}

.body {
  padding: 30px;
  text-align: center;
  font-size: 1.7em;
}

@media (min-width: 480px) {
  .existing {
    display: block;
  }
}