@import "./grid.css";
@import "./colors.css";

.checkText {
  margin: 0;
}

.shield {
  display: inline-block;
  padding-bottom: 0;
  width: 85%;
}

.mailbox {
  font-size: 72px;
}

.checkMail {
  text-align: center;
  max-width: 350px;
  line-height: 1.2;
  margin: 60px auto;
  padding: 40px 40px 30px 40px;
  background-color: #324853;
  border-radius: 5px;
  color: #fff;
  @media (max-width: 250px) { display: none; }
  @media (max-width: 480px) { padding: 0; }
}

@define-mixin vertical-align {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.fields {
  padding-top: 20px;
  border-top: 1px solid #333;
}

.name {
  font-weight: 900;
  text-transform: uppercase;
  margin: 0.37em 0;
}

.form {
  text-align: center;
  max-width: 350px;
  margin: 60px auto;
  padding: 40px 40px 30px 40px;
  background-color: #324853;
  border-radius: 5px;
  @media (max-width: 480px) { padding: 40px 0px; margin: 0px auto; }
  @media (max-width: 250px) { display: none; }
}

.extension {
  max-width: 100px;
  margin: 20px auto;
  text-align: center;
  @media (min-width: 250px) { display: none; }
}