body {
  font-family: 'Lato', sans-serif;
  background-color: #ECF0F1;
  color: white;
}

input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="text"], 
input[type="tel"], 
input[type="url"], 
input[type="color"], 
input[type="password"] {
  padding: 6px 10px;
  margin: 5px 0;
  line-height: 24px;
  border: 1px solid #333;
  width: 100%;
  border-radius: 3px;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  padding: 10px 20px;
  margin: 5px 0;
  display: block;
  border: none;
  cursor: pointer;
  background-color: #19A6EC;
  color: white;
  width: 100%;
  border-radius: 1px;
  text-transform: uppercase;
}

.success, .proceed {
  background-color: #27B779;
}

.success:hover, .proceed:hover {
  background-color: #25A068;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.field-error {
  text-align: left;
  color: #E74C3C;
}

a {
  color: #C26458;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
}

.field-group {
  margin-bottom: 10px;
}