body {
  font-family: 'Lato', sans-serif;
  /*background-color: #28ABE3;*/
  background-color: #324853;
  color: white;
}

input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="text"], 
input[type="tel"], 
input[type="url"], 
input[type="color"], 
input[type="password"] {
  padding: 6px 10px;
  margin: 5px 0;
  line-height: 24px;
  border: 1px solid #e4e4e4;
}

button, input[type="submit"], input[type="reset"], input[type="button"] {
  padding: 10px 20px;
  margin: 5px 0;
  display: block;
  border: none;
  cursor: pointer;
  background-color: #19A6EC;
  color: white;
  width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.field-error {
  text-align: left;
  color: red;
}

a {
  color: #C26458;
  text-decoration: none;
}

a:hover {
  color: #C26458;
  text-decoration: underline;
}

a:active {
  color: #C26458;
  text-decoration: none;
}

a:visited {
  color: #C26458;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin: 0px -10px;
  &:before, 
  &:after {
    content:"";
    display: table;
    clear: both;
  }
}